.card p {
    color: #2F4F4F;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 3px;
    
}
.card img {
    width: 150px;
    height: 200px;
    border-radius: 3px;
}

